#container
{
    width: 400px;
    height:90%;
    background-color: rgb(94, 112, 124);
    margin-left: 400px;

}
#container1
{
    display:flex;
margin-left: 50px;
}
#delete-button-div
{
    margin-top: 50px;
}
#form-data{
  margin-left: 50px;  
}
h1{
    margin-left: 50px;
    color: cornsilk;
}